/* ================================
CSS RESETS AND DEFAULTS
================================ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* Remove default margin and padding */
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}




/* ================================
UTILITIES
================================ */

.container {
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 24px;
}

.flex_reverse {
    flex-direction: row-reverse;
}

.flex_start {
    align-items: start;
}

.flex_col {
    flex-direction: column;
}



/* ================================
COLORS
================================ */

:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);

    /* Neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}




/* ================================
TYPOGRAPHY
================================ */

/* Set core body defaults also */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
    color: var(--grayish-blue);
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--very-dark-cyan);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

.hero__text {
    font-size: 1rem;
    color: var(--very-dark-cyan);
}

.btn {
    font-weight: 600;
    font-size: 0.625rem;
}

.hero__btn {
    font-size: 0.75rem;
}

.footer__cta-text {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.67;
}

.copyright {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6875rem;
}

@media (min-width: 1297px) {
    body {
        font-size: 1.125rem;
        text-align: left;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .hero__text {
        font-size: 1.125rem;
    }

    .btn {
        font-size: 0.875rem;
    }

    .footer__cta-text {
        font-size: 2rem;
        line-height: 1.87;
    }

    .btn_primary_big {
        font-size: 1.25rem;
    }
}



/* ================================
BUTTONS
================================ */

.btn {
    border-radius: 20px;
    background-color: var(--pink);
    color: #fff;
    text-decoration: none;
}

.btn:hover, .btn:focus {
    opacity: 0.5;
}

.btn_primary {
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
    padding: 10px 59px 14px 60px;
}

.btn_primary_big {
    box-shadow: 0 3px 7px rgba(0, 37, 46, 0.223053);
    padding: 13px 49px 13px 50px;
}

.btn_secondary {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.0954201);
    border-radius: 12px;
    background-color: #fff;
    color: var(--very-dark-cyan);
    padding: 4px 22px 6px 23px;
}

.header__btn:hover, .header__btn:focus {
    opacity: 0.7;
}

@media (min-width: 1297px) {
    .btn {
        border-radius: 28px;
    }

    .btn_primary {
        padding: 17px 69px 20px 70px;
    }

    .btn_primary_big {
        padding: 25px 99px 25px 100px;
        border-radius: 40px;
    }

    .btn_secondary {
        border-radius: 24px;
        padding: 13px 63px 16px 65px;
    }
}



/* ================================
GENERAL LAYOUT
================================ */

/* Header and Hero sections */

.hero {
    background-image: url("../images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background-color: var(--very-pale-cyan);
}

.header__container {
    padding: 27px 16px 0 16px;
    margin-bottom: 80px;
}

.header__content {
    max-width: 1270px;
    margin: 0 auto;
}

.logo {
    max-width: 104px;
}

.hero__container {
    padding: 0 35px;
}

.hero__content {
    row-gap: 56px;
    padding-bottom: 37px;
    max-width: 1270px;
    margin: 0 auto;
    justify-content: center;
}

.hero__copy {
    flex: 0 1 536px;
}

.hero__title {
    margin-bottom: 24px;
}

.hero__text {
    margin-bottom: 39px;
}

.hero__img-container {
    margin: 0 4px;
    flex: 0 1 680px;
}

@media (min-width: 1297px) {
    .hero {
        background-image: url("../images/bg-hero-desktop.svg");
    }

    .header__container {
        padding: 48px 80px 0 80px;
        margin-bottom: 71px;
    }

    .logo {
        max-width: 200px;
    }

    .hero__content {
        justify-content: space-between;
        padding-bottom: 72px;
    }

    .hero__title {
        margin-bottom: 32px;
    }

    .hero__text {
        margin: 0 16px 44px 0;
    }
}




/* Features sections */

section[aria-labelledby="features__title"] {
    padding-top: 59px;
}

section[aria-labelledby="features__title_3"] {
    margin-bottom: 229px;
}

.features + .features {
    margin-top: 40px;
}

.features__container {
    min-height: 488px;
    max-width: 1232px;
    margin: 0 auto;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
}

.features__content {
    max-width: 1096px;
    margin: 0 auto;
    justify-content: center;
    row-gap: 53px;
}

.features__img-container {
    order: -1;
    padding: 58px 50px 0 50px;
    flex: 0 1 440px;
}

.features__copy {
    flex: 0 1 499px;
}

.features__title {
    margin-bottom: 16px;
}

.features__text {
    padding: 0 39px 0 40px;
    margin-bottom: 33px;
}

@media (min-width: 979px) {
    .features__container {
        display: flex;
        place-content: center;
        min-height: 440px;
        max-height: 440px;
    }


    .features__img-container {
        order: initial;
        padding: 15px;
    }

    .features__copy {
        text-align: left;
        padding: 0 45px;
    }

    .features__text {
        padding: 0;
    }
}

@media (min-width: 1297px) {

    section[aria-labelledby="features__title"] {
        padding-top: 160px;
    }


    .features__content {
        margin: 0 29px 0 auto;
        justify-content: flex-end;
        column-gap: 153px;
    }


    .features__copy {
        padding: 0;
    }

    section[aria-labelledby="features__title_3"] {
        margin-bottom: 344px;
    }

}




/* Footer Section */

.footer__cta-container {
    position: relative;
    padding: 0 12px;
    height: 0;
}

.footer__cta {
    background-color: #fff;
    color: var(--very-dark-cyan);
    position: relative;
    margin: 0 auto;
    top: -109px;
    right: 0;
    left: 0;
    max-width: 800px;
    min-height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.0710768);
    border-radius: 15px;
    row-gap: 24px;
}
.footer,
.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover:not(.footer__cta a), .footer a:focus:not(.footer__cta a),
.fab:hover, .fab:focus {
    color: var(--pink);
    border-color: var(--pink);
}

.footer {
    background-color: var(--very-dark-cyan);
    text-align: left;
}

.footer__container {
    padding: 139px 21px 30px 16px;
}

.footer__content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0;
}

.logo_light {
    filter: invert(100%)
        sepia(1%)
        saturate(0)
        hue-rotate(307deg)
        brightness(130%)
        contrast(1000);
    min-width: 152px;
    margin-bottom: 27px;
}

.footer__copy-icon {
    width: 18px;
    height: 18px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 0 0 auto;
}

.footer__icon-container {
    flex-wrap: nowrap;
    column-gap: 18px;
    justify-content: flex-start;
}

.footer__icon-container + .footer__icon-container {
    margin-top: 24px;
}

.footer__copy {
    margin-bottom: 41px;
    max-width: 379px;
}

.footer__copy-icon_directions {
    background-image: url("../images/icon-location.svg");
}

.footer__copy-icon_phone {
    background-image: url("../images/icon-phone.svg");
}

.footer__copy-icon_email {
    background-image: url("../images/icon-email.svg");
    width: 20px;
    height: 20px;
}

.footer__link-list {
    display: flex;
    flex-direction: column;
}

.footer__link-list + .footer__link-list,
.footer__link + .footer__link {
    margin-top: 16px;
}

.footer__social-icons-container {
    margin: 24px auto 0 auto;
}

.footer__social-icon {
    width: 32px;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__social-icon + .footer__social-icon {
    margin-left: 11px;
}

.fab {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@media (min-width: 979px) {
    .footer__cta {
        min-height: 280px;
        top: -184px;
    }
    .footer__container {
        padding: 144px 78px 64px 78px;
    }

    .footer__content {
        flex-direction: row;
    }

    .logo_light {
        max-width: 152px;
    }

    .footer__content {
        align-items: baseline;
    }

    .footer__copy,
    .footer__link-list {
        font-size: 0.875rem;
    }

    .footer__link-list {
        margin: 0 auto;
    }

    .footer__link-list + .footer__link-list {
        margin-top: 0;
    }

    .footer__social-icons-container {
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 0;
        min-height: 156px;
    }
}


@media (min-width: 1440px) {
    .footer__container {
        padding-left: 120px;
    }
    .footer__link-list {
        margin-left: 130px;
    }

    .footer__link-list + .footer__link-list {
        margin-left: 45px;
    }

    .footer__social-icons-container {
        align-items: flex-start;
        justify-content: space-between;
        margin-right: 0;
    }
}